{% extends 'base.html' %}
{% block title %} Детальный просмотр {% endblock title %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link active" href="{% url "tracker:issue-create" project.id %}">New issue</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'tracker:project-update' project.id %}">Редактировать</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active text-danger" href="{% url 'tracker:project-delete' project.id %}">Удалить</a>
    </li>
{% endblock nav %}
{% block content %}
    <div class="card text-center mt-5">
      <div class="card-header">
        {{ project.begin_date }}---{{ project.end_date }}
      </div>
      <div class="card-body mb-2 mt-2">
        <h5 class="card-title">{{ project.name}}</h5>
          <p class="card-text">{{ project.description }}</p>
          <p>
              <span class="text-primary">Пользователи:</span>
              {% for user in project.user.all %}{{ user.username }}{% if not forloop.last %}, {% endif %}{% endfor %}
              <a href="{% url 'tracker:project-user-update' project.id %}" class="btn btn-link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg></a>
          </p>
        {% include 'issue/list.html' with issues=project.issues.all %}
      </div>
    </div>
{% endblock content %}