{% extends 'base.html' %}
{% load static %}
{% block nav %}
    {% if can_update %}
    <li class="nav-item">
        <a class="nav-link " href="{% url "accounts:profile-update" user_object.id %}">Update</a>
      </li>
    <li class="nav-item">
        <a class="nav-link " href="{% url "accounts:password-update" user_object.id %}">Password</a>
      </li>
    {% endif %}
{% endblock nav %}
{% block content %}
    <div class=" row display-flex">
        <div class="col-md-4">
            <img class="card-img-top" style="height: 100%;" src="{% if user_object.profile.avatar  %}{{ user_object.profile.avatar.url }}{% else %}{% static "images/no-img.png" %}{% endif %}" alt="Card image cap">
        </div>
        <div class="col-md-8 p-4">
            <ul>
                <li>Логин: {% if user_object.username  %}{{ user_object.username }}{% else %}Отсутсвует{% endif %}</li>
                <li>Имя: {% if user_object.first_name %}{{ user_object.first_name }}{% else %}Отсутсвует{% endif %}</li>
                <li>Фамилия: {% if user_object.last_name %}{{ user_object.last_name }}{% else %}Отсутсвует{% endif %}</li>
                <li>Ссылка на гитхаб: {% if user_object.profile.githubLink  %}<a href="{{ user_object.profile.githubLink }}">{{ user_object.profile.githubLink }}</a>{% else %}Отсутсвует{% endif %}</li>
                <li>О себе: {% if user_object.profile.description %}{{ user_object.profile.description }}{% else %}Отсутсвует{% endif %}</li>
            </ul>
        </div>
    </div>
    {% if projects %}
        <h3>Projects</h3>
    {% include 'project/list.html' %}
    {% else %}
    <h3> No projects</h3>
    {% endif %}
{% endblock content %}