{% extends 'base.html' %}
{% block title %} Детальный просмотр {% endblock title %}
{% block content %}
    <div class="card text-center mt-5">
      <div class="card-header">
        {{ issue.status }}
      </div>
      <div class="card-body mb-2 mt-2">
        <h5 class="card-title">{{ issue.summary}}</h5>
        <p class="card-text">{{ issue.description }}</p>
        <a href="{% url 'tracker:issue-update' issue.id %}" class="card-link">Редактировать </a>
        <a href="{% url 'tracker:issue-delete' issue.id %}" class="card-link text-danger">Удалить</a>
      </div>
      <div class="card-footer text-muted">

{#<p>Types: {% for tag in article.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>#}
<p>Типы: {% for type in issue.type.all %}{{ type.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
      </div>
    </div>
{% endblock content %}