{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Трекер задач{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <div class="container">
         <nav>
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link active" href="{% url "tracker:project-list" %}">Project list</a>
              </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url "tracker:issue-list" %}">Issues list</a>
              </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link active" href="{% url "tracker:project-create" %}">New project</a>
              </li>
                {% block nav %}
                {% endblock nav %}
                <li class="nav-item">
                <a class="nav-link active" href="{% url "accounts:logout" %}?next={{ request.get_full_path }}">Logout</a>
              </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link active" href="{% url "accounts:login" %}{% if request.GET.next %}?next={{ request.GET.next }}{% else %}?next={{ request.get_full_path }}{% endif %}">Вход</a>
              </li>
                 <li class="nav-item">
                <a class="nav-link active" href="{% url 'accounts:register'%}{% if request.GET.next %}?next={{ request.GET.next }}{% else %}?next={{ request.get_full_path }}{% endif %}">Зарегистрироваться</a>
              </li>
            {% endif %}
            </ul>
        </nav>
    </div>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

</body>
</html>