{% extends 'base.html' %}
{% block title %}Список задач{% endblock title %}
{% block content %}
    <div class="row">
        {% for issue in issues %}
          <div class="col-sm-6 mt-3 mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ issue.status }}</h5>
                <p class="card-text">{{ issue.summary }}</p>
                <a href="{% url "issue-view" issue.id %}" class="btn btn-primary">Детальный просмотр</a>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
{% endblock content %}